@font-face {
    font-family: "PitchSans";
    src: url("./PitchSansWeb-Medium.woff") format('woff');
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;;
    /*font-weight: 400;*/
    /*letter-spacing: 0px;*/
    font-size: 1.5rem;
    color: rgb(35, 31, 32);
}

.section {
    margin-top: 40px;
}

.namespace {
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 3px;
    font-weight: 50;
}

a {
    color: #000;
    border-bottom: 1px solid #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    border-bottom: 1px solid #eee;
    transition: .5s;
}

#home-title {
    margin-top: 8rem;
    color: #000;
}

.contact-link {
    margin-right: 4rem;
}

.contact {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.divider {
    color: #000;
    font-weight: bold;
    border-width: 0;
    width: 0px;
    text-align: left;
    margin-left: 0;
}

.divider-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.divider-thin {
    margin-top: .8rem;
    margin-bottom: .8rem;
}

@media (max-width: 576px) {
    #home-name {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-top: 8rem;
    }
    #home-title {
        margin-top: 5rem;
    }
    body {
        font-size: 13px;
    }
    .divider-section {
        margin-top: 2.1rem;
        margin-bottom: 2.1rem;
    }
    .contact-link {
        margin-right: 2rem;
    }
}
