.top {
    height: 20em;
    padding-top: 5rem;
}
.img {
    background-image: url('/images/desk.jpg');
    background-size: cover;
}
.section {
    border-top: 1px solid #BC4966;
    padding: 4rem 0;
    margin-bottom: 0;

}
.underline {
    border-bottom: .5px solid #BC4966;
    
}
ul {
    font-size: 90%;
}
h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
}
.section-header {
    font-size: 1.7rem;
}
.sub-header {
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: #000000;
    position: relative;
    
}
a:hover {
    outline-width: 0;
    color: #BC4966;
    /* border-bottom: 4px solid #BC4966; */
}

.info {
    margin-left: 0 !important;
}

/* for the social media links at the top */
.dynamic-float {
    float: right;
}

ul {
    padding-left: 20px;
    list-style-position: outside;
  }

@media (max-width: 550px) { 
    .dynamic-float {
        margin-top: 4rem;
        float: none;
    }

 }