
/*
    colors
    red: 
*/
.top {
    height: 10em;
    padding-top: 5rem;
}

/* delimits each section of the website with a red bar */
.section {
    border-top: 1px solid #BC4966;
    padding: 4rem 0;
    margin-bottom: 0;
}

/* slightly larger than h4 */
.section-header {
    font-size: 1.7rem;
}
/* override skeleton.css margins on <p> and <h4> */
.sub-header {
    margin-bottom: 0;
}

.row {
    margin-top: 5rem;
}
/* give the projects a bit more spacing on mobile */
#projects > .row {
    margin-bottom: 7rem;
}

/* prevents the second lines text on li to go under bullet */
ul {
    font-size: 90%;
    padding-left: 20px;
    list-style-position: outside;
}

h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
}

/* override anchor tags ugly defaults */
a {
    text-decoration: none;
    color: #000000;
    position: relative; 
}
a:hover {
    outline-width: 0;
    color: #BC4966;
    /* border-bottom: 4px solid #BC4966; */
}
a .underline {
    text-decoration: initial;
    border-bottom: 1px solid #BC4966 !important;
}
/* override left indentation */
.info {
    margin-left: 0 !important;
}

/* light gray border around the images */
.framed {
    border: 2px solid #eee;
}

/* for progress bar */
.meter {
    height: .4rem;
    position: relative;
    margin-bottom: 2rem;
}
label {
    font-size: 1.3rem;
    font-weight: normal;
}
.meter > span {
    display: block;
    height: 100%;
    box-sizing: border-box;
    background-color: #BC4966;
    border-left: 1px solid #000000;
}


/* override skeleton.css button color */
.button.button-primary.red {
background-color: #BC4966;
border-color: #BC4966;
}

footer {
    background-color: #757575;
}
footer > .container > .row {
    color: #BDBDBD;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
/* for the social media links at the top */
/* it floats right but when the screen gets small it */
/* float: none; see media query below */
.dynamic-float {
    float: right;
}

@media (max-width: 550px) { 
    .dynamic-float {
        margin-top: 4rem;
        float: none;
    }

    /* give buttons more room on mobile */
    .button.button-primary.red {
        margin-bottom: 3rem;
    }
    .top {
        height: 20rem;
    }
    /* give more space between languages and frameworks on mobile */
    #frameworks {
        margin-top: 4rem;
    }
 }

 /* compensates for weird edge condition where my last name line breaks
    and cause the NodeJS developer part to go under the red line
 */
 @media (max-width: 863px) and (min-width: 550px) {
     #name {
         font-size: 2.5rem;
     }
 }