.header {
    margin-top: 6rem;
    text-align: center;
}
.social {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.top-icon {
    display: block;
    text-align: center;
    margin: 2.5rem auto 0;
}
/* #BC4966 */